# Ejemplo de configuración del keystore
# Copia este archivo como "keystore.properties" y completa los valores

storeFile=app/app-release-key.jks
keyAlias=app-release
storePassword=chimbarongo
keyPassword=chimbarongo

